* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    width: 100%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 64px;
}
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    width: 50%;
    height: 100%;
}
.container input,
.container .btn {
    width: 100%;
    line-height: 32px;
    border: none;
    border-radius: 8px;
}
.container input {
    border: 1px solid lightgray;
}
.container .btn {
    background-color: rgb(129, 129, 255);
    color: white;
    text-transform: uppercase;
}
.tasks {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.taskCard {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 150px;
    gap: 20px;
    width: 43.75rem;
    margin: auto;
    background-color: #e6e5e5;
    padding: 24px;
    border-radius: 8px;
}
.taskCard h2 {
    grid-column: 1 / -1;
} 
.taskCard p {
    grid-column: 1;
}
.taskCard .btn {
    position: absolute;
    bottom: 24px;
    right: 24px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    line-height: 24px;
    padding: 4px 20px;
}